.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    opacity: 0.3;
    margin-top: 14px;
    filter: alpha(opacity=30);
    position: absolute;
    right: 12px;
}

.luggage_ux_block_collapse h3:hover,
.luggage_ux_block_collapse h2:hover,
.luggage_ux_block_collapse .block-title:hover {
    cursor: pointer;
}

.luggage_ux_block_collapse h3:hover .caret,
.luggage_ux_block_collapse h2:hover .caret,
.luggage_ux_block_collapse .block-title:hover .caret {
    opacity: 0.8;
}